body  {font-family : "Trebuchet MS", sans-serif;
       animation: pulse 5s infinite;}
	   
@keyframes pulse {
	0% {background: linear-gradient(black, #1a5720, #0b198f);}
	33% {background: linear-gradient(#1a5720, #0b198f, black);}
	66% {background: linear-gradient(#0b198f, black, #1a5720);}
	100% {background: linear-gradient(black, #1a5720, #0b198f);}
}
	   
h1 {color : blue;
    font-size : 50px;
	font-family: monospace;}

a:link { color: red;
        text-decoration : none;}
a:hover {background-color : white;
         border : 2px solid black;
		 border-radius : 50px;
		 padding : 10px;
         color: #2e8230;
         font-weight : bold;
		 transition-duration: 1s;} 
a:visited {color : red;
           background-color : black;}
a:active {background-color:orange;}

a img:hover {
	         background-color : white;
             border : 2px solid black;
		     border-radius : 50px;
		     padding : 10px;
             color: #2e8230;
             font-weight : bold;
		     text-decoration:underline;
			 transition-duration: 0.5s;}



.textbox {opacity: 0.5;}

.image1 {max-width : 500px;
	max-height : 500px;
	border : 5px solid white;
	border-radius : 8px;
	padding : 10px;
	animation: image-spin 1s;} @keyframes image-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}

  #style {font-size : 2vw;}
  #style1 {max-width : 70%;
		   background-color : #facb91;
		   border : 7px solid #f58916;
		   border-radius: 40px;
		   animation:animatezoom 1s;} @keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
  #style2 {position : absolute;
           left : 60%;}
  #style3 {font-size : 40px;
           border : 5px solid #ed6fed;
		   background-color : #edc5ed;}
  #style4 {font-size : 20px;
           border : 5px solid #5bc2be;
		   background-color : #cacaed;}
  #style5 {border : 7px solid #7d7de3}
  #style7 {font-size: 30px}
  #style8 {font-size : 55px;
           color : #0cc7c1;
		   text-shadow: 2px 2px 5px white;}
  #style9 {font-size: 25px;
           text-decoration : underline;}
  #style10 {font-size : 35px;
            color : #5e108f;}