body{
	margin: 0;
}

.style2 a{
	text-decoration: none;
	color: white;
}

.logo{
	height: 75px;
	width: 200px;
}

.style1{
	width: 1400px;
	height: 82px;
	background-color: #4a5b9e;
	color: white;
}
.style2{
	position: absolute;
	left: 175px;
	top: 15px;
	min-width: 20%;
	min-height: 5%;
}

.style3{
	position: absolute;
	left: 745px;
	top: 15px;
	width: 35%;
}

.style4{
	color: #8ea0e8;
	text-decoration: none;
}
.style4:hover{
	text-decoration: underline;
}

.msg-box{
	border: 1px solid black;
	width:160px;
	height: 25px;
}

.submit{
	border: 0;
	background-color: #1a29b8;
	color: white;
	font-weight: bold;
	height: 25px;
}
.submit:hover{
	background-color: #152770;
}

.style5{
	height: 500px;
	width: 1400px;
	background:linear-gradient(#fff,#cedcf2);
}

.style6{
	position: absolute;
	left: 150px;
	top: 100px;
	width: 500px;
	height: 500px;
}

.image{
	width: 100%;
}

.style7{
	position: absolute;
	left: 745px;
	top: 75px;
	width: 400px;
	height: 500px;
	font-family: Tahoma;
}

.style8{
	color: #788394;
	font-size: 10px;
}
.style8 a, .style9 a{
	color: #2564c2;
	text-decoration: none;
}
.style8 a:hover, .style9 a:hover{
	text-decoration: underline;
}

.style9{
	color: #788394;
	font-weight: bold; 
	font-size: 12px;
}

.style10{
	position: absolute;
	top: 50%;
}

.create-box{
	width: 49.2%;
	font-size: 20px;
	color: #c1c5c7;
	border: 1px solid #aba9a6;
	border-radius: 6px;
	height: 5vh;
}
.create-box:focus{
	border: 2px solid #6dc4f2;
	border-radius: 6px;
	color: black;
}

.create{
	background:linear-gradient(#67ae55, #578843);
	width: 50%;
	height: 6vh;
	color: white;
	font-family: Tahoma;
	font-size: 20px;
	border: 0;
	border-radius: 4px;
}
.create:hover{
	background:linear-gradient(#71c45c, #578843);
}

.style11{
	position: absolute;
	left: 15%;
}
.style11 a{
	font-size: 14px;
	color: #2564c2;
	text-decoration: none;
}
.style11 a:hover{
	text-decoration: underline;
}

td a{
	padding-left: 12px;
}

.style12{
	height: 15px;
	width: 15px;
	padding-left: 0;
	border: 1px solid #40508f;
	display: flex;
}